*{
  background-color: black;
  font-family: Century Gothic;
}

.poster img {
	background-color: black;
	transition: 0.6s ease;
}

.poster img:hover{
	background-color: #fff;
	color: #000;
}

/*================================================== */
.movie-music ul{
  float: center;
	list-style-type: none;
	margin-top: 25px;
  margin-right: 30px;
}

.movie-music ul li{
	display: inline-block;
}

.movie-music ul li a{
	text-decoration: none;
	border-radius: 15px;
	color: #fff;
	padding: 4px 12px;
	border: 1px solid transparent;
	transition: 0.6s ease;
}

.movie-music ul li a:hover{
	background-color: #fff;
	color: #000;
}

.movie-music ul li.active a{
	background-color: #fff;
	color: #000;
}
/*================================================== */

.moviesplaylist{
  color: white;
  align-items: center;
  align-content: center;
  text-align: center;
}

.movie1{
  width: 360px;
  height: auto;
  border: 2px solid white;
  margin: auto;
}

.movie1 ul{
  float: center;
	list-style-type: none;
	margin-top: 25px;
}

.movie1 ul li{
	display: inline-block;
}

.movie1 ul li a{
	border-radius: 15px;
	text-decoration: none;
	color: #fff;
	padding: 4px 12px;
	border: 1px solid transparent;
	transition: 0.6s ease;
}

.movie1 ul li a:hover{
	background-color: #fff;
	color: #000;
}

.movie1 ul li.active a{
	background-color: #fff;
	color: #000;
}

.movie2{
  width: 360px;
  height: auto;
  border: 2px solid white;
  margin: auto;
}

.movie2 ul{
  float: center;
	list-style-type: none;
	margin-top: 25px;
}

.movie2 ul li{
	display: inline-block;
}

.movie2 ul li a{
	text-decoration: none;
	color: #fff;
	padding: 4px 12px;
	border: 1px solid transparent;
	transition: 0.6s ease;
}

.movie2 ul li a:hover{
	background-color: #fff;
	color: #000;
}

.movie2 ul li.active a{
	background-color: #fff;
	color: #000;
}

.movie3{
  width: 360px;
  height: auto;
  border: 2px solid white;
  margin: auto;
}

.movie3 ul{
  float: center;
	list-style-type: none;
	margin-top: 25px;
}

.movie3 ul li{
	display: inline-block;
}

.movie3 ul li a{
	text-decoration: none;
	color: #fff;
	padding: 4px 12px;
	border: 1px solid transparent;
	transition: 0.6s ease;
}

.movie3 ul li a:hover{
	background-color: #fff;
	color: #000;
}

.movie3 ul li.active a{
	background-color: #fff;
	color: #000;
}

.movie4{
  width: 360px;
  height: auto;
  border: 2px solid white;
  margin: auto;
}

.movie4 ul{
  float: center;
	list-style-type: none;
	margin-top: 25px;
}

.movie4 ul li{
	display: inline-block;
}

.movie4 ul li a{
	text-decoration: none;
	color: #fff;
	padding: 4px 12px;
	border: 1px solid transparent;
	transition: 0.6s ease;
}

.movie4 ul li a:hover{
	background-color: #fff;
	color: #000;
}

.movie4 ul li.active a{
	background-color: #fff;
	color: #000;
}

.movie4 ul{
  float: center;
	list-style-type: none;
	margin-top: 25px;
}

.movie5{
  width: 360px;
  height: auto;
  border: 2px solid white;
  margin: auto;
}

.movie5 ul{
  float: center;
	list-style-type: none;
	margin-top: 25px;
}

.movie5 ul li{
	display: inline-block;
}

.movie5 ul li a{
	text-decoration: none;
	color: #fff;
	padding: 4px 12px;
	border: 2px solid transparent;
	transition: 0.6s ease;
}

.movie5 ul li a:hover{
	background-color: #fff;
	color: #000;
}

.movie5 ul li.active a{
	background-color: #fff;
	color: #000;
}

.movie6{
  width: 360px;
  height: auto;
  border: 2px solid white;
  margin: auto;
  background-color: black;
}

.movie6 ul{
  float: center;
	list-style-type: none;
	margin-top: 25px;
}

.movie6 ul li{
	display: inline-block;
}

.movie6 ul li a{
	text-decoration: none;
	color: #fff;
	padding: 4px 12px;
	border: 2px solid transparent;
	transition: 0.6s ease;
}

.movie6 ul li a:hover{
	background-color: #fff;
	color: #000;
}

.movie6 ul li.active a{
	background-color: #fff;
	color: #000;
}

.movie7{
  width: 360px;
  height: auto;
  border: 2px solid white;
  margin: auto;
  background-color: black;
}

.movie7 ul{
  float: center;
	list-style-type: none;
	margin-top: 25px;
}

.movie7 ul li{
	display: inline-block;
}

.movie7 ul li a{
	text-decoration: none;
	color: #fff;
	padding: 4px 12px;
	border: 2px solid transparent;
	transition: 0.6s ease;
}

.movie7 ul li a:hover{
	background-color: #fff;
	color: #000;
}

.movie7 ul li.active a{
	background-color: #fff;
	color: #000;
}

.movie8{
  width: 360px;
  height: auto;
  border: 2px solid white;
  margin: auto;
  background-color: black;
}

.movie8 ul{
  float: center;
	list-style-type: none;
	margin-top: 25px;
}

.movie8 ul li{
	display: inline-block;
}

.movie8 ul li a{
	text-decoration: none;
	color: #fff;
	padding: 4px 12px;
	border: 2px solid transparent;
	transition: 0.6s ease;
}

.movie8 ul li a:hover{
	background-color: #fff;
	color: #000;
}

.movie8 ul li.active a{
	background-color: #fff;
	color: #000;
}

.movie9{
  width: 360px;
  height: auto;
  border: 2px solid white;
  margin: auto;
  background-color: black;
}

.movie9 ul{
  float: center;
	list-style-type: none;
	margin-top: 25px;
}

.movie9 ul li{
	display: inline-block;
}

.movie9 ul li a{
	text-decoration: none;
	color: #fff;
	padding: 4px 12px;
	border: 2px solid transparent;
	transition: 0.6s ease;
}

.movie9 ul li a:hover{
	background-color: #fff;
	color: #000;
}

.movie9 ul li.active a{
	background-color: #fff;
	color: #000;
}

.movie10{
  width: 360px;
  height: auto;
  border: 2px solid white;
  margin: auto;
  background-color: black;
}

.movie10 ul{
  float: center;
	list-style-type: none;
	margin-top: 25px;
}

.movie10 ul li{
	display: inline-block;
}

.movie10 ul li a{
	text-decoration: none;
	color: #fff;
	padding: 4px 12px;
	border: 2px solid transparent;
	transition: 0.6s ease;
}

.movie10 ul li a:hover{
	background-color: #fff;
	color: #000;
}

.movie10 ul li.active a{
	background-color: #fff;
	color: #000;
}

.movie11{
  width: 360px;
  height: auto;
  border: 2px solid white;
  margin: auto;
  background-color: black;
}

.movie11 ul{
  float: center;
	list-style-type: none;
	margin-top: 25px;
}

.movie11 ul li{
	display: inline-block;
}

.movie11 ul li a{
	text-decoration: none;
	color: #fff;
	padding: 4px 12px;
	border: 2px solid transparent;
	transition: 0.6s ease;
}

.movie11 ul li a:hover{
	background-color: #fff;
	color: #000;
}

.movie11 ul li.active a{
	background-color: #fff;
	color: #000;
}

.movie12{
  width: 360px;
  height: auto;
  border: 2px solid white;
  margin: auto;
  background-color: black;
}

.movie12 ul{
  float: center;
	list-style-type: none;
	margin-top: 25px;
}

.movie12 ul li{
	display: inline-block;
}

.movie12 ul li a{
	text-decoration: none;
	color: #fff;
	padding: 4px 12px;
	border: 2px solid transparent;
	transition: 0.6s ease;
}

.movie12 ul li a:hover{
	background-color: #fff;
	color: #000;
}

.movie12 ul li.active a{
	background-color: #fff;
	color: #000;
}

.movie13{
  width: 360px;
  height: auto;
  border: 2px solid white;
  margin: auto;
  background-color: black;
}

.movie13 ul{
  float: center;
	list-style-type: none;
	margin-top: 25px;
}

.movie13 ul li{
	display: inline-block;
}

.movie13 ul li a{
	text-decoration: none;
	color: #fff;
	padding: 4px 12px;
	border: 2px solid transparent;
	transition: 0.6s ease;
}

.movie13 ul li a:hover{
	background-color: #fff;
	color: #000;
}

.movie13 ul li.active a{
	background-color: #fff;
	color: #000;
}

.movie14{
  width: 360px;
  height: auto;
  border: 2px solid white;
  margin: auto;
  background-color: black;
}

.movie14 ul{
  float: center;
	list-style-type: none;
	margin-top: 25px;
}

.movie14 ul li{
	display: inline-block;
}

.movie14 ul li a{
	text-decoration: none;
	color: #fff;
	padding: 4px 12px;
	border: 2px solid transparent;
	transition: 0.6s ease;
}

.movie14 ul li a:hover{
	background-color: #fff;
	color: #000;
}

.movie14 ul li.active a{
	background-color: #fff;
	color: #000;
}

.movie15{
  width: 360px;
  height: auto;
  border: 2px solid white;
  margin: auto;
  background-color: black;
}

.movie15 ul{
  float: center;
	list-style-type: none;
	margin-top: 25px;
}

.movie15 ul li{
	display: inline-block;
}

.movie15 ul li a{
	text-decoration: none;
	color: #fff;
	padding: 4px 12px;
	border: 2px solid transparent;
	transition: 0.6s ease;
}

.movie15 ul li a:hover{
	background-color: #fff;
	color: #000;
}

.movie15 ul li.active a{
	background-color: #fff;
	color: #000;
}

.movie16{
  width: 360px;
  height: auto;
  border: 2px solid white;
  margin: auto;
  background-color: black;
}

.movie16 ul{
  float: center;
	list-style-type: none;
	margin-top: 25px;
}

.movie16 ul li{
	display: inline-block;
}

.movie16 ul li a{
	text-decoration: none;
	color: #fff;
	padding: 4px 12px;
	border: 2px solid transparent;
	transition: 0.6s ease;
}

.movie16 ul li a:hover{
	background-color: #fff;
	color: #000;
}

.movie16 ul li.active a{
	background-color: #fff;
	color: #000;
}

.movie17{
  width: 360px;
  height: auto;
  border: 2px solid white;
  margin: auto;
  background-color: black;
}

.movie17 ul{
  float: center;
	list-style-type: none;
	margin-top: 25px;
}

.movie17 ul li{
	display: inline-block;
}

.movie17 ul li a{
	text-decoration: none;
	color: #fff;
	padding: 4px 12px;
	border: 2px solid transparent;
	transition: 0.6s ease;
}

.movie17 ul li a:hover{
	background-color: #fff;
	color: #000;
}

.movie17 ul li.active a{
	background-color: #fff;
	color: #000;
}

.movie18{
  width: 360px;
  height: auto;
  border: 2px solid white;
  margin: auto;
  background-color: black;
}

.movie18 ul{
  float: center;
	list-style-type: none;
	margin-top: 25px;
}

.movie18 ul li{
	display: inline-block;
}

.movie18 ul li a{
	text-decoration: none;
	color: #fff;
	padding: 4px 12px;
	border: 2px solid transparent;
	transition: 0.6s ease;
}

.movie18 ul li a:hover{
	background-color: #fff;
	color: #000;
}

.movie18 ul li.active a{
	background-color: #fff;
	color: #000;
}

.movie19{
  width: 360px;
  height: auto;
  border: 2px solid white;
  margin: auto;
  background-color: black;
}

.movie19 ul{
  float: center;
	list-style-type: none;
	margin-top: 25px;
}

.movie19 ul li{
	display: inline-block;
}

.movie19 ul li a{
	text-decoration: none;
	color: #fff;
	padding: 4px 12px;
	border: 2px solid transparent;
	transition: 0.6s ease;
}

.movie19 ul li a:hover{
	background-color: #fff;
	color: #000;
}

.movie19 ul li.active a{
	background-color: #fff;
	color: #000;
}

.movie20{
  width: 360px;
  height: auto;
  border: 2px solid white;
  margin: auto;
  background-color: black;
}

.movie20 ul{
  float: center;
	list-style-type: none;
	margin-top: 25px;
}

.movie20 ul li{
	display: inline-block;
}

.movie20 ul li a{
	text-decoration: none;
	color: #fff;
	padding: 4px 12px;
	border: 2px solid transparent;
	transition: 0.6s ease;
}

.movie20 ul li a:hover{
	background-color: #fff;
	color: #000;
}

.movie20 ul li.active a{
	background-color: #fff;
	color: #000;
}

